html:not(.dark) .VPHome {
  background: url(./waterfall.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}
html.dark .VPHome {
  background: url(./sea.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.vp-doc h2{
  padding-bottom: 12px !important;
  padding-top: 0 !important;
  border-bottom: 1px solid var(--vp-c-divider) !important;
  border-top: 0 solid var(--vp-c-divider) !important;
}

.vp-doc .header-anchor{
  top: 0 !important;
}